@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";

@import "typography";



$darkteal:		#00444E;
$dutchwhite:	#FCF3D6;
$bone:			#E2D9C7;
$mutedbeige:	#DDCCAD;
$wheat:			#F0E1B4;

body {
	margin: 		0;
	background-color: 	$dutchwhite;
	font-family: 		$sans-serif-2;
	color: 				$darkteal;



}

.subhead {
	font-family: 		$sans-serif;
	text-align: 		center;
	margin-bottom: 		1em;

}


table {

}

.skillCat {
	font-weight: bold;

}

ul {
	@extend %default-ul;

}
.skillList {

}

.scroll-on-page {
	padding: 0 10% 10% 10%;
	font-family: $sans-serif;
ul {
	@extend %default-ul;

}

}


.scroll-on-page aside {
  @include media($large-screen) {
    @include span-columns(4);
  }
}

.scroll-on-page-link {
  border-bottom: 1px solid transparentize($base-link-color, .8);
  padding: $base-spacing / 2 0;
  margin-right: $base-spacing;
  display: block;

  &:last-child {
    margin-bottom: $base-spacing;
  }
}

.scroll-on-page article {
  h4 {
    margin-bottom: .5em; 
    font-family: $sans-serif-2;
  }

  section p:last-of-type {
    margin-bottom: 2em; 
  }

  @include media($large-screen) {
    @include span-columns(8);
  }
}

// Based on code by http://codepen.io/xmark/



